* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.form {
    width: 600px;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}

.movie-list button {
    display: inline-block;
    margin-right: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.movie-list button.edit-button {
    background-color: #56b877; 
    color: white;
}

.movie-list button.delete-button {
    background-color: #dc3545; 
    color: white;
}